*, :before, :after
{
    box-sizing: border-box;
    border-style: solid;
    border-width: 0px; /* Ver bordes de los elementos */
    border-color: #fff;
}

body {
    background: linear-gradient(#070531, #031481);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* width: auto; */
}

.curriculum
{
    color: #000;
    width: max(13vw,13vh);
    height: max(3vw,7vh);
    font-size: clamp(0.625rem, 0.4934rem + 0.5263vw, 1.125rem);
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #fff;
    transition: all 0.3s;
}

.curriculum:active {
    color: #9e9e9e;
    box-shadow: inset 4px 4px 12px #000, inset -4px -4px 12px #0b2392;
}

.curriculum:hover
{
    cursor: pointer;    
    background: #9c9c9c;
}

.row
{
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    object-fit: contain;
}


.info
{
    height: 10vh;
    display: flex;
    flex-direction: column;
}

.name h3{
    margin: 0 auto;
    width: 70%;
}

.name .left
{
    text-align:left;
    width: 50%;
}

h3{
    color: #FFF;
    font-weight: 100;
}

h4{
    font-size: clamp(0.875rem, 0.7763rem + 0.3947vw, 1.25rem);
    color: #FFF;
    font-weight: 100;
}

.small-font
{
    font-size: clamp(0.625rem, 0.5263rem + 0.3947vw, 1rem);
}

.bar{
    border-bottom: 5px solid rgba(136, 136, 136, 0.555);
    width: 90%;
    margin:0 auto;
}

.row-buttons
{
    margin:0 auto;
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content:space-between;
}

.projects{
    margin: 0 auto;
    width: 100%;
    background-color: rgba(101, 72, 168, 0.6);
    border-radius: 20px;
}

.project-show
{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit: fill;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(0.75rem, 0.5526rem + 0.7895vw, 1.5rem);
    background-color: rgba(101, 72, 168, 0.6);
    border-radius: 20px;
}

.project-logo
{
    position: absolute;
    width: 15vw;
    height: 15vw;
}

.images-container
{
    position: relative;
}

.project-content
{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    color: #fff;
    margin: 20px;
    padding: 10px 15px;
}

.text-content
{
    padding-left: 15vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.principal-img2
{
    border-radius: 4px;
    z-index: 1;
    width: 15vw;
    height: 15vw;
}

.secondary-img2 {
    transform: translateY(25%);
    transition: .3s ease;
    opacity: 0;
    z-index: 2;   
    width: 10vw;
    height: 10vw;
}

.article-class2
{
    display: flex;
    position: absolute;
    width: 15vw;
    height: 15vw;
    align-items: center;
    justify-content: center;
}

.article-class2::before
{
    background-image: linear-gradient(to bottom,transparent 10%, rgba(15,15,15,0.5) 50%, rgba(15,15,15) 95%);
    opacity: 0;
    z-index: 2;
    transition: all .3s ease;
}

.article-class2:hover::before
{
    opacity: 1;
}

.article-class2:hover .principal-img2
{
    filter: blur(4px);
}

.article-class2:hover .secondary-img2
{
    opacity: 1;
    transform: translateY(0%);
}



@keyframes show {
    from
    {
        opacity: 0;
        scale: 50%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}

.important
{
    font-size: clamp(2.5rem, 2.2697rem + 0.9211vw, 3.375rem);
}

.content .golden-color
{
    color: rgb(253 224 71 / 1);
}

.content .title
{
    font-size: clamp(1.25rem, 0.9868rem + 1.0526vw, 2.25rem);
}

.title
{
    font-size: clamp(2.5rem, 2.2697rem + 0.9211vw, 3.375rem);
    color: rgb(253 224 71 / 1);
    display: flex;
    justify-content: center;
}

.bold
{
    color: rgb(71, 241, 253);
}

.uppercase
{
    text-transform: uppercase;
}

.image-center {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px; /* Espacio superior */
    /* flex-wrap: wrap; */
}
  
.image-center img {
    width: 35vw;
    height: 30vw;
    min-width: 350px;
    min-height: 250px;
    margin-bottom: 3vh;
}

p{
    width: 80%;
}

.back-link {
    display: block; /* Hace que cada enlace ocupe una línea completa */
    margin-bottom: 10px; /* Agrega un espacio entre los enlaces */
  
    color: red; /* Cambia este valor al color deseado */
    text-decoration: none; /* Elimina la subraya predeterminada */
}
  
/* Cambiar el color cuando el enlace está en hover (puntero encima) */
.back-link:hover {
    color: darkred; /* Cambia este valor al color deseado al pasar el puntero */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 35vw;
    height: 20vw;
    min-width: 350px;
    min-height: 200px;
}

.add-space10
{
    height:10vh;
}

.add-space5
{
    height:5vh;
}

/* Header */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgba(9,14,49, 0.7); /* #090e31 */
    padding: 1.5% 6%;
    z-index: 10000;
    transition: 0.6s;
    /* background-color: #090e31; */
}

.header-div
{
    width: 60%;
    min-width: 360px;
    display: flex;
    flex-direction: row;
    align-items: center;
    object-fit: cover;
    justify-content: space-between;
}

header a
{
    display: flex;
    width: 20%;
    padding: 0px 20px;  
    text-decoration: none;
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;
    font-size: clamp(0.875rem, 0.6447rem + 0.9211vw, 1.75rem);
    color: #fff;
    cursor:pointer;
}

header a:hover
{
    transition: all .3s ease;
    transform: scale(130%);
}

/* Banner */

.banner.active header #toggle::before{
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
}

.banner.active header #toggle::after{
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
}

.banner
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    /* background:  */ 
    background-size: cover;
    display: flex;
    align-items: center;
    transition: 0.5s;
}

.banner.active {
    transition: 0.5s;
    transform: translateX(-350px);
}

/* Images Grids */

.image-grid-container
{
    text-align: center;
    padding: 20px;
}

.image-grid
{
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.image-grid-container2
{
    text-align: center;
    padding: 20px;
}

.image-grid2
{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.image-corners
{
    border-radius: 20px;
}

.image-grid img
{
    object-fit:contain;
}

.image-grid2 img
{
    object-fit:contain;
}

/* Labels Grids */

.label-grid-container
{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}

.label-grid
{
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    max-width: 80%;
}

.label-grid article
{
    margin: 10px;
    text-align: center;
}

.label-grid-container-bg
{
    width: 100%;
    background-color: rgba(81, 37, 163, 0.9);
    
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}

.label-grid-bg
{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content:center;
    max-width: 80%;
}

.label-grid-bg .img-responsive
{
    width: max(7vw,10vh);
    height: max(7vw,10vh);
}

.img-responsive2
{
    position: fixed;
    top: 4vh;
    left: 4vw;
    border-radius: 50%;
    filter: invert(1);

    width: max(5vw,7vh);
    height: max(5vw,7vh);
}

/* Name and Photo */

/* .name
{
    display: flex;
    align-items: end;
}

.name h2
{
    margin: auto 50px;
} */

/* Social */

.img-hover
{
    position: relative;
    place-items: center;
    width: max(9vw,9vh);
    height: max(9vw,9vh);
    background: transparent;
    border: 5px solid #ff0000;
    margin: 0 30px;
}

.img-hover:hover
{
    background: #fff;
}

.img-hover img
{
    width: max(7vw,7vh);
    height: max(7vw,7vh);
    position: relative;
    top: initial;
}

/* Content */

.content
{
    font-family:Arial, Helvetica, sans-serif;
    position: inherit;
    align-items: center;
    text-align: center;
    justify-content: center;
    place-items: center;
    width: 100%;
    top: 50px;
}

.content .animation-appear
{
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: show;
    animation-range: entry 15% cover 30%;
    animation-fill-mode: both;
}

.content2
{
    font-family:Arial, Helvetica, sans-serif;
    position: inherit;
    align-items: center;
    text-align: center;
    justify-content: center;
    place-items: center;
    width: 100%;
    top: 50px;
}

.content h2
{
    color: #fff;
    font-size: clamp(1rem, 0.7697rem + 0.9211vw, 1.875rem);
}

.content2 h2
{
    color: #fff;
    font-size: clamp(1rem, 0.7697rem + 0.9211vw, 1.875rem);
}

.content .important
{
    font-size: clamp(2.125rem, 1.8947rem + 0.9211vw, 3rem);
}

.content img
{
    width: 150px;
}

.content .img-sphere
{
    width: 150px;
    border-radius: 50%;
}

.content p
{
    font-size: clamp(1rem, 0.7697rem + 0.9211vw, 1.875rem);
    color:#fff;
    font-weight: 300;
    margin: 0 auto;
    /* view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: show;
    animation-range: entry 15% cover 30%;
    animation-fill-mode: both; */
}

.content2 p
{
    font-size: clamp(1rem, 0.7697rem + 0.9211vw, 1.875rem);
    color:#fff;
    font-weight: 300;
    margin: 0 auto;
}

.content a h2{
    color: #000;
}

/* Button */

.button
{
    position: relative;
    display: inline-flex;
    justify-content: center;

    background: transparent; /* #fff */
}

.button-center
{
    display: flex;
    align-items: center;
    justify-content: center;
}


.post {
	display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
	text-decoration: none;
	color: #000;
	max-width: 200px;
    max-height: 100px;
	position: relative;
	padding: 2rem;
	box-shadow: inset 0 0 0 4px #CCC, inset 0 0 0 4px #CCC;
	background-color: #FFF;
	cursor: pointer; 
	&:before {
        position: absolute; 
		left: 0;
		bottom: 0;
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		background-color: #000;
		transform-origin: 0 bottom 0;
		transform: scaleY(0);
		transition: .4s ease-out;
	}
	
	&:hover {
        .post-title {
            color: #FFF;
		}
		&:before {
            transform: scaleY(1);
            box-shadow: inset 0 0 0 4px #fff, inset 0 0 0 4px #fff;
		}
	} 
}

.post-title {
	position: relative;
	font-weight: 700;
    left: -5%;
    width: 120%;
	line-height: 1;
    color: #000;
	transition: .4s ease-out;
}

/* Venatana Modal */

#btn-modal:checked ~ .container-modal
{
    display: flex;
    flex-direction: row;
}

#btn-modal
{
    display: none;
}

.btn-modal
{
    cursor:pointer;
}

.container-modal
{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;left: 0;
    background-color: rgba(33,33,120,0.9);
    z-index: 10000;
    display: none;
    justify-content: center;
    align-items: center;
}

.containt-modal
{
    width: 90%;
    height: 90%;
    padding: 20px;
    background-color: rgba(193, 186, 209, 0.9);
    border-radius: 10px;
}

.containt-modal-header
{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    
    /* background-color: #0885b6; */
}

.containt-modal-header h2
{
    position: relative;
    margin-top: auto;
    font-size: clamp(1rem, 0.7697rem + 0.9211vw, 1.875rem);
}

.containt-modal h2
{
    color: #000;
}

.containt-modal p
{
    font-size: clamp(1rem, 0.7697rem + 0.2vw, 1.5rem);
    background-color: #ff0000;
    padding: 15px 0px;
    color: #000;
    border-top: 1px solid #7c7171;
    border-bottom: 1px solid #7c7171;
}

.containt-modal .boton-cerrar
{
    width: 100%;
    /* min-height: 5vh; */
    /* margin-top: 15px; */
    /* margin-left: auto; */
    /* display: flex; */
    /* justify-content: end; */
    display: flex;
    justify-content: end;
    align-items: center;
}

.containt-modal .boton-cerrar label
{
    border:  1px solid black;
    min-width: 3%;
    min-height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3271e6;
    color: #FFF;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    transition: all 300ms ease;
}

.containt-modal .boton-cerrar label:hover
{
    background-color: #101a5c;
}

.cerrar-modal
{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.containt-modal img 
{
    width: 20%;
}

/* Section */

.foto-mix{
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    width: 100%;
    /* height: 50vh; */
}

.foto-mix img{
    width: 5%;
    height: 20vw;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;    
}

.foto-mix img:hover{
    cursor: crosshair;
    object-fit: fill;
    width: 30vw;
    opacity: 1;
    filter: contrast(120%);
}

/* -------------------------------------------- Animacion Proyectos ------------------------------------------- */

.content article{
    position: relative;
    width: 150px;
    height: 150px;
    max-width: 200px;
    max-height: 200px;
    transition: all .3s ease;
    background-color: #0885b6;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.principal-img
{
    border-radius: 4px;
    z-index: 1;
}

.principal-img img{
    width: 100px;
    height: 100px;
}

.secondary-img {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; 
    margin: auto; 
    transform: translateY(25%);
    transition: .3s ease;
    opacity: 0;
    z-index: 2;   
}

.secondary-img img
{
    width: 100px;
}

.article-class::before
{
    content: '';
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 150px;
    background-image: linear-gradient(to bottom,transparent 10%, rgba(15,15,15,0.5) 50%, rgba(15,15,15) 95%);
    opacity: 0;
    transition: all .3s ease;
}

.article-class:hover::before
{
    opacity: 1;
}

.article-class:hover .principal-img
{
    filter: blur(4px);
}

.article-class:hover .secondary-img
{
    opacity: 1;
    transform: translateY(-25%);
}


@media (max-width: 767px)
{
    header {
        padding: 40px 100px;
    }
    .banner
    {
        padding: 100px 50px 150px;
    }
    .banner.active
    {
        transform: translateX(-400px);
    }
    .foto-mix img{
        height: 40vw;
    }
    
    .foto-mix img:hover{
        width: 60vw;
    }

    .content article{
        width: 100px;
        height: 100px;
    }

    .principal-img img
    {
        width: 75px;
        height: 75px;
    }

    .secondary-img img
    {
        width: 75px;
    }

    .article-class:hover .secondary-img
    {
        transform: translateY(-15%);
    }

    .article-class::before
    {
        width: 100px;
    }

    .image-center img {
        width: 350px;
        height: 250px;
        margin-bottom: 3vh;
    }
    
    /* Then style the iframe to fit in the container div with full height and width */
    .responsive-iframe {
        width: 350px;
        height: 200px;
    }
}

button {
    color: #fff;
    width: max(9vw,9vh);
    height: max(3vw,7vh);
    /* padding: 0.7em 1.7em; */
    font-size: clamp(0.625rem, 0.4934rem + 0.5263vw, 1.125rem);
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #070531;
    transition: all 0.3s;
}

button:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #000, inset -4px -4px 12px #0b2392;
}

button:hover
{
    cursor: pointer;
    
    background: #2f16b9;
}

.button2 {
    position: fixed;
    width: max(4vw,8vh);
    height: max(4vw,8vh);
    bottom: 2vh;
    right: 2vw;
    background-color: rgba(101, 72, 168, 1);
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
    transition: 0.5s;
}
  
.button2:hover {
    transform: scale(1.1);
}
  
.button2:active {
    background-color: rgba(49, 15, 128, 1);
}

.button3 {
    color: #fff;
    width: 65vw;
    height: max(5vw,10vh);
    /* padding: 0.7em 1.7em; */
    font-size: clamp(0.625rem, 0.4934rem + 0.5263vw, 1.125rem);
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #070531;
    transition: all 0.3s;
}

.button3:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #000, inset -4px -4px 12px #0b2392;
}

.button3:hover
{
    cursor: pointer;
    
    background: #2f16b9;
}

.button4 {
    position: fixed;
    width: 3vw;
    height: 3vw;
    top: 5vh;
    left: 5vw;
    background-color: rgba(101, 72, 168, 1);
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
    transition: 0.5s;
}

/* .button4:hover {
    transform: scale(1.1);
}

.button4:active {
    background-color: rgba(49, 15, 128, 1);
} */

.button4 img
{
    position: fixed;
    width: 3vw;
    height: 3vw;
    top: 5vh;
    left: 5vw;
    transition: 0.5s;
}

.button4:hover img
{
    transform: scale(1.1);
}